# IDE - VSCode
.vscode/*
!.vscode/extensions.json

# IDE - WebStorm
.idea/

# Dependency directories
node_modules/

# System Files
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
